*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;


}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin:0 auto;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom:30px ;
}
.section-heading p{
    font-size: 18px;
    margin-bottom:30px;
    line-height: 30px;
    color: #757575;
}

/* main style  */
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png" ),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.color-orange{
    color: #FD6E0A;
}


nav{
    width:59%;
    max-width: 1920px;
    /* border:1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type:none ;
    gap:51px ;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    

}

#banner{
    /* border: 1px solid red;  */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-image{
    max-width: 585px;
}

#banner .banner-contend h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom:5px ;
    
}

#banner .banner-contend h1{
    font-size: 85px ;
    font-weight:bold ;
    color: #181818;
    margin-bottom: 20px;

}

#banner .banner-contend p{
    font-size: 18px;
    color: #757575;
    line-height: 30px ;
    margin-bottom: 30px;
}


#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about , #Skills , #resume {
    padding-top:130px ;
}

#about .about-container{
    width: 59%;
    max-width: 1920px;
    margin: 0% auto;
    text-align: center;
    background-color:#FFF8F3 ;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex;
    justify-content:space-around ;
}

.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px ;
    margin-bottom: 30px;

}


.about-info .info-card h4 {
    font-size: 20px;
}


#Skills .Skills-container{
    width: 69%;
    max-width: 1920px;
    margin: 0 auto;
    
}

#Skills .Skills-container .skill-box{
    display: flex;
    gap: 24px;
    
}

.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow:0 6px 40px 0 #b3a1a1 ;

}

.skill-card img{
    max-width: 44px ;
    margin-bottom: 30px;

}


.skill-card h3{
    font-size: 20px;
    color:#181818 ;
    margin-bottom: 20px;
}


.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px ;

}


#resume .resume-container{
    width: 69%;
    max-width: 1920px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-container hr{
margin: 30px 0;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom:10px ;
    color: #474747;
}

.resume-card .card-info{
    font-size: 20px;
    font: weight 600px;;
    margin-bottom:20px ;
    color: #757575;
}

.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}